<div class="modal-header">
    <h3 class="modal-title">Aktuelles Suchergebnis filtern</h3>
</div>
<div class="modal-body">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th class="col-md-1"></th>
                <th>Medienart</th>
                <th class="text-right">Anzahl</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="facet in searchMeta.facets.fields.medienart">
            <td class="col-md-1 text-center">
                <input type="checkbox" ng-model="filter_ma[facet[0]]">
            </td>
            <td>
                <i ng-class="['fa', 'fa-'+(martdict[facet[0]].icon || 'file')]"></i>
                {{martdict[facet[0]].text}}
            </td>
            <td class="text-right">
                <span class="badge pull-right">{{facet[1]}}</span></label>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th class="col-md-1"></th>
                <th>Sachgebiet</th>
                <th class="text-right">Anzahl</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="facet in searchMeta.facets.fields.systematik | limitTo:15">
            <td class="col-md-1 text-center">
                <input type="checkbox" ng-model="filter_sys[facet[0]]">
            </td>
            <td>
                {{sysdict[facet[0]].text}}
            </td>
            <td class="text-right">
                <span class="badge pull-right">{{facet[1]}}</span></label>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <button ng-click="$dismiss()" type="button" class="btn btn-default"><i class="fa fa-times"></i> Abbrechen</button>
    <button ng-click="filterResult({ systematik:filter_sys, medienart:filter_ma }) && $close(true)" type="button" class="btn btn-primary"><i class="fa fa-search"></i> Ergebnis filtern</button>
</div>
