<div class="row">
    <div class="col-lg-12">
        <div class="container">
            <div class="jumbotron">
                <h2 ng-if="kunde.name">
                    <strong>{{kunde.name}}</strong>
                    <small><a ng-if="kunde.url" ng-href="{{kunde.url}}" uib-tooltip="Webseite besuchen" target="_blank"><i class="fa fa-external-link"></i></a></small>
                </h2>
                <h2>
                    Einfach alle Medien. Online. 
                    <a class="pull-right" href="" ng-click="infoCollapsed = !infoCollapsed">
                        <i class="fa fa-angle-down" uib-tooltip="Infotext einklappen" ng-if="!infoCollapsed"></i>
                        <i class="fa fa-angle-up" uib-tooltip="Infotext ausklappen" ng-if="infoCollapsed"></i>
                    </a>
                </h2>
                <div uib-collapse="infoCollapsed">
                    <p>
                        Damit Sie Ihren multimedialen Unterricht optimal vorbereiten können, hat Ihr Medienzentrum für Sie ein Suchwerkzeug entwickelt, mit dem Sie nicht nur im hauseigenen Verleihkatalog, sondern z.B. auch im landesweiten Merlin-Angebot und anderen Medien-Angeboten recherchieren. Dabei werden selbstverständlich alle für Ihre Stadt bzw. Ihren Landkreis verfügbaren Zusatzangebote berücksichtigt.
                    </p>
                    <p class="text-center">
                        <img src="http://antares.datenbank-bildungsmedien.net/bilder/logo_01.gif">
                        <img src="http://nibis.de/nibis3/uploads/1heihoke/images/merlin3.png">
                    </p>
                </div>
                <p>
                    <media-search kunde="kundeSlug"></media-search>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
</div>

