<form name="searchForm" novalidate class="input-group input-group-lg" ng-submit="search(searchQuery)">
    <span class="input-group-addon">
        <i class="fa fa-search"></i>
    </span>
    <input ng-model="searchQuery" required="true" name="stichwort" type="search" class="form-control" placeholder="Suchbegriff eingeben...">
    <span class="input-group-btn">
        <input ng-disabled="!searchForm.$valid" class="btn btn-primary" type="submit" value="Suche">
    </span>
</form>

