<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 ng-if="kunde" class="modal-title">
                {{kunde.name}}
            </h3>
            <p>
            <form ng-submit="search(searchTerm)" name="searchForm" class="input-group input-group-lg">
                <input placeholder="Suchbegriff" ng-model="searchTerm" type="search" class="form-control">
                <span class="input-group-btn">
                    <button ng-disable="searchForm.$invalid" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </span>
            </form>
            </p>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs clearfix">
                <li ng-repeat="ab in anbieter" role="presentation" ng-class="{active: ab == selectedAnbieter }">
                    <a href="" ng-click="selectAnbieter(ab)">
                        <i ng-if="!ab.logo" class="fa fa-medium"></i>
                        <img ng-if="ab.logo" ng-src="{{ab.logo}}"></i>
                        {{ab.name}}
                        <span ng-if="ab == selectedAnbieter" class="badge">{{searchMeta.total ? searchMeta.total : searchResult.length}}</span>
                    </a>
                </li>
                <button ng-disabled="!searchMeta.facets" ng-click="showFilters()" type="button" class="btn btn-info btn-sm pull-right">
                    <i class="fa fa-filter"></i> 
                    Ergebnis filtern 
                    <span class="badge">{{ (filterMedienart.length + filterSystematik.length) || "" }}</span>
                    <span class="caret"></span>
                </button>
            </ul>
            <p>
            <div ng-if="searchLoading && !searchResult" class="well text-center">
                <h2>Suche...</h2>
                <h1>
                    <i class="fa fa-spinner fa-spin"></i>
                </h2>
            </div>
            
            <div ng-repeat="r in searchResult" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title clearfix">
                        <div class="btn-group btn-group-xs">
                            <a ng-if="r.media_url" target="_blank" ng-href="{{r.media_url}}" class="btn btn-default" uib-tooltip="Anzeigen"><i class="fa fa-play"></i></a>
                            <a ng-if="r.datasheet" target="_blank" ng-href="{{r.datasheet}}" class="btn btn-default" uib-tooltip="Datenblatt"><i class="fa fa-file"></i></a>
                        </div>
                        <a target="_blank" ng-href="{{r.media_url}}">
                            {{r.title}}
                        </a>
                        <div ng-if="r.medienart"  class="pull-right label label-default">
                            <i ng-if="r.medienart.icon"  ng-class="['fa', 'fa-'+r.medienart.icon]"></i>
                            <i ng-if="!r.medienart.icon" class="fa fa-file-o"></i>
                            {{r.medienart.text}}
                        </div>
                    </h3>
                </div>
                <div class="panel-body clearfix">
                    <div class="pull-right">
                        <a target="_blank" ng-href="{{r.media_url}}"><img ng-src="{{r.thumbnail}}" class="img-rounded"></a>
                    </div>
                    <small ng-bind-html="r.description">
                    </small>
                </div>
                <div ng-if="r.systematik.length" class="panel-footer text-right" style="line-height:1.7em">
                    <span ng-repeat-start="sys in r.systematik" uib-tooltip="{{sys.nr}}" class="label label-default">{{sys.text}}</span><span ng-repeat-end> </span>
                </div>
            </div>
            <p class="text-center" ng-if="moreAvailable">
                <button ng-click="loadMore()" type="button" class="btn btn-primary btn-lg">
                    <i ng-if="!searchLoading" class="fa fa-rocket"></i> 
                    <i ng-if="searchLoading" class="fa fa-spinner fa-spin"></i> 
                    Mehr Ergebnisse laden...
                </button>
            </p>
        </div>
    </div>
</div>
