{% load pipeline %}
<!doctype html>
<html ng-app="omnds">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OM NDS</title>
        {% stylesheet "base" %}
        {% javascript "base" %}
        <script type="text/javascript">
            angular.module("ng.django.static", [])
            .constant("djangoStatic", function(url) {
                return "{{STATIC_URL|escapejs}}" + url;
            });
        </script>
    </head>
    <body ng-controller="MainCtrl">
        {% verbatim %}
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#/" ng-href="{{ kunde ? ('#/'+kunde.slug) : '#/'}}">{{ kunde.short || "OM-Nds.de" }}</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#/" ng-href="{{ kunde ? ('#/'+kunde.slug) : '#/'}}"><i class="fa fa-search"></i> Mediensuche</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><i class="fa fa-info"></i> Über uns</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-code"></i> Entwickler-API</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope-o"></i> Kontakt</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div ng-view></div>
        {% endverbatim %}
    </body>
</html>
